#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application

Name=Media Downloader
Comment=Web video/audio downloader
Categories=AudioVideo;Network;
Keywords=youtube;tube;downloader;converter;audio;video;media;download;youtube-dl;yt-dlp;ytdlp;youtubedl;music;mp3;mp4;

Icon=com.markopejic.downloader
Exec=media-downloader
Terminal=false