#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application

Name=Media Downloader
Comment=Web video/audio downloader
Categories=AudioVideo;Network;
Keywords=YouTube;Downloader;ytdlp;Tube;Converter;audio;video;media;download;

Icon=com.markopejic.downloader
Exec=/app/main.py
Terminal=false